# ide
.idea/

# environment variables
.env
*.env
**/.env

# bootstrap files
/**/**/bootstrap/**

# cache files
LangChain/rag/cache/*
*.sqlite3
*.bin
Whisper/.DS_Store
.DS_Store

# whisper data
/Whisper/audios/
